# All ABout Data Types in Python

In [1]:
#Numeric Data

x = 10 #int
y = 10.5 #float
z = 10+5j #10 is read number and 5j is imagionary

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

In [5]:
isinstance(z,complex)

True

In [6]:
isinstance(10, complex)

False

In [7]:
isinstance(10,int)

True

In [8]:
#int to float
n = float(x) # n=float

In [9]:
n

10.0

In [10]:
type(n)

float

In [11]:
n = int(n)
type(n)

int

In [12]:
n

10

In [13]:
#int to complex
n = complex(n) #10+0j

In [14]:
n

(10+0j)

In [15]:
type(n)

complex

In [16]:
n = int(n)

TypeError: can't convert complex to int

In [17]:
n = float(n)

TypeError: can't convert complex to float

In [18]:
n = complex(input('Enter your complex number:- '))

Enter your complex number:- 1

In [19]:
n

(1+0j)

In [20]:
n = complex(input('Enter your complex number:- '))

Enter your complex number:- 1+5j

In [21]:
n

(1+5j)

In [22]:
type(b)

NameError: name 'b' is not defined

In [23]:
type(n)

complex

# Bool

In [24]:
x = True
y = False

In [25]:
x

True

In [26]:
y

False

In [27]:
true

NameError: name 'true' is not defined

In [28]:
True

True

In [29]:
False

False

# Sequence Data

In [31]:
#list
l = [1,2,3,4,True,[1,2],'data',(1,2,3,8)]

In [32]:
l

[1, 2, 3, 4, True, [1, 2], 'data', (1, 2, 3, 8)]

In [33]:
l[0]

1

In [34]:
l[-1]

(1, 2, 3, 8)

In [35]:
l[-1][0]

1

In [36]:
l[-1][-1]

8

In [37]:
type(l)

list

In [39]:
isinstance(l, list)

True

In [40]:
#Tuple ()

t = (1,2,3,5,'Ai')
type(t)

tuple

In [41]:
t[0]

1

In [42]:
t[0:3] #Colon means to ; 0 to 4-1

(1, 2, 3)

In [43]:
#Range()

x = range(10) #1st case

In [44]:
x

range(0, 10)

In [45]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [47]:
x = range(5,20) #2nd case
for i in x:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [49]:
x = range(5,20,5) #3rd case
for i in x:
    print(i)

5
10
15

In [50]:
x = range(20,5,-3) #3rd case
for i in x:
    print(i)

20
17
14
11
8

In [51]:
#array
import array as ar

In [52]:
a = ar.array([1,2,3,4])
a

TypeError: array() argument 1 must be a unicode character, not list

In [53]:
a = ar.array('i',[1,2,3,4])
a

array('i', [1, 2, 3, 4])

In [54]:
a = ar.array('f',[1.5,2,3,4])
a

array('f', [1.5, 2.0, 3.0, 4.0])

In [57]:
#string
x = 'data'
type(x)

str

In [58]:
x = 'data'
type(x)

str

In [59]:
x = '''
I love
Data Science
'''

In [60]:
x

'\nI love\nData Science\n'

In [61]:
type(x)

str

In [62]:
#Set

s = {1,2,3,5}

In [63]:
type(s)

set

In [64]:
#Dictionary

dic={
    'Varsity' : 'JU',
    'Dept' : 'Data Science'
}

In [65]:
dic

{'Varsity': 'JU', 'Dept': 'Data Science'}

In [66]:
type(dic)

dict

In [67]:
dic.keys()

dict_keys(['Varsity', 'Dept'])

In [68]:
dic.values()

dict_values(['JU', 'Data Science'])

In [69]:
#Data Frame (Pandas)

import pandas as pd

df = pd.read_csv('finalData.csv')

In [73]:
df.head(33)

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
30,GP,M,15,U,GT3,T,4,4,health,services,...,5,4,2,3,4,5,0,9,11,12
31,GP,M,15,U,GT3,T,4,4,services,services,...,4,3,1,1,1,5,0,17,16,17
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,...,4,5,2,1,1,5,0,17,16,16

In [71]:
df.shape

(395, 33)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   gender      395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [75]:
#Binary Types

byte_arr = bytearray('ABCDEF','utf8')

In [76]:
type(byte_arr)

bytearray

In [77]:
byte_arr

bytearray(b'ABCDEF')

In [78]:
memoryview(byte_arr)

In [79]:
memoryview(byte_arr)[0]

65

In [80]:
mv = memoryview(byte_arr)
mv[0] = 97

In [81]:
memoryview(byte_arr)[0]

97

In [82]:
byte_arr

bytearray(b'aBCDEF')